@charset "utf-8";
/* CSS Document */

/* 
========================================
  Custom Styles
========================================
*/
html {
  height: 100%;
}
body {
	background-image: url(../images/backgrounds/black_linen_v2_@2X.png);
 	background-size: 300px;
  	width: 600px;
  	height: 600px;
	position: absolute;
	height: auto;
}

/*
 ========================================
  Typogrophy
 ========================================
*/

h1 {}
h2 {}
h3 {}
h4 {}
p {}

/*
 ========================================
  Grid
  ========================================
*/


/* 
========================================
 Images
========================================
*/