@charset "utf-8";
/* CSS Document */

/* 
========================================
  Custom Styles
========================================
*/

html {
  height: 100%;
}
body {
	background-image: url(../images/backgrounds/black_linen_v2_@2X.png);
 	background-size: 100%;
  	min-height: 100%;
	width: 100%;
	position: absolute;
	height: auto;
	color: white;
}

/*
 ========================================
  Typogrophy
 ========================================
*/
h1,
h2,
h3,
h4,
p {
  	text-shadow: 2px 2px 4px #000;
	position: relative;
	z-index: 2;
}
h1 {
	font: 700 28px/34px Times, "Times New Roman", serif;
	padding: 5px;
	text-align: center;
}
h1 {
	color: white;
	margin: 10px 5px;
	text-align: center;
	padding: 10px;
}
h2 {
	
	color: white;
	font: 300 22px/26px Times, "Times New Roman", serif;
	text-align: center;
	padding: 10px;
}
h3 {
	color: white;
	font: 300 28px/32px Times, "Times New Roman", serif;
	text-align: center;
	padding: 10px;
}
h4 {
	color: white;
	font: 700 20px/22px Times, "Times New Roman", serif;
	padding: 10px;
	text-align: center;
}
p {
	color: white;
	font: 300 16px/20px Times, "Times New Roman", serif;
	padding: 5px;
	text-align: center;
}
em {
	font-style: italic;
}


/*
 ========================================
  Grid
  ========================================
*/
#header {
	display: block;
	margin: 0 auto;
	width: 80%;
}
#penny {
	display: inline-block;
	width: 15%;
	height: auto;
	z-index: 1;
	position: absolute;
}
#georgie {
	display: inline-block;
	width: 15%;
	height: auto;
	z-index: 1;
	position: absolute;
	right: 0;
}

#start-button {
	display: block;
	margin: 20px auto;
	padding: 10px;
}
#reset-button {
	display: block;
	margin: 20px auto;
	padding: 10px;
}
.container {
	display: block;
	background-color:#8C1212;
	width: 75%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: suto;
	top: 50px;
	padding: 20px;
	margin-bottom: 50px;
}
.answer-boxes {
	position: relative;
	display: block;
	margin: 10px auto;
	text-align: center;
	padding: 10px;
	z-index: 2;
}
#correct-answers,
#incorrect-answers,
#unanswered {
	display: inline-block;
}
/* 
========================================
 Images
========================================
*/